// Google font Woff & Woff2
// https://google-webfonts-helper.herokuapp.com/fonts

@font-face {
    font-family: roboto-regular;
    src: url('#{$fonts-path}roboto-regular.woff2') format('woff2'),
         url('#{$fonts-path}roboto-regular.woff') format('woff'),;
}

@font-face {
    font-family: roboto-black;
    src: url('#{$fonts-path}roboto-black.woff2') format('woff2'),
         url('#{$fonts-path}roboto-black.woff') format('woff'),;
}
